body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button,
.button2,
.button3 {
  background-color: blue;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: large;
  margin-top: 20px;
}

.yoyo {
  height: 300px;
  width: 300px;
  background-color: brown;
  color: white;
  font-size: 20px;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_container {
  margin: 20px 0px;
  border: solid lightgray 1px;
  padding: 20px;
  width: fit-content;
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.show {
  display: block;
}

.form_button {
  margin-top: 20px;
  cursor: pointer;
}

.testClass {
  cursor: pointer;
}

.newClass {
  color: red
}